.temper{
    width: 25px;
    height: 120px;
    background-color: #E2E2E0;
    border-radius: 20px;
    position: relative;
    margin: 20px;
    top: 10px;
    overflow: visible;
    z-index: 1;
}
  
.mercury{
    position: absolute;
    bottom: 6px;
    width: 50%;
    left: 6.5px;
    height: 100%;
    border-radius: 20px;
    background-color: red;
    transition: height 0.3s;
    z-index: 3;
}

.mercury2{
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 6.5px;
    height: 93%;
    border-radius: 20px;
    background-color: rgb(175, 175, 175);
    transition: height 0.3s;
    z-index: 2;
}

.mercury_head{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.bulb{
    width: 60px;
    height: 60px;
    background-color: #E2E2E0;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2;
}

.mark{
    background-color: black;
    height: 5px;
    border-radius: 20px;
    position: absolute;
    left: 28px;
}

.data_sensor{
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 4;
    bottom: -40px;
    left: -4px;
    font-size: 15px;
    font-weight: bold;
    z-index: 5;
}

.sunIcon{  
    position: absolute;
    left: -44px;
    top: 75px;
    z-index: 0;
}